<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/products/}">
                <i class="bi bi-box"></i> Products
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/db-selection/}">
                <i class="bi bi-database"></i> DB Selection
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/distributed-transaction/}">
                <i class="bi bi-arrow-left-right"></i> Distributed Transaction
            </a>
        </li>
    </ul>
</div>
</body>
</html>